@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Rosario:wght@500&family=Tiro+Kannada&display=swap');
 /* CSS PARA INDEX */
.nav-anuncio {
    color: white;
    background-color: #405B48;
    padding: 1rem 0 1rem 0;
    margin: 0 0 0 0;
    font-size: 1.2rem;
}

.icono-proyecto {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem 0 0;
}

/* .nav-iniSesion,.nav-carrito
{
    visibility: hidden;
}  */
.nav-iniSesion {
    visibility: hidden;
    display: none;
}

.img_panel {
    width: 20.313rem;
    height: 26.24rem;
    margin: 0 0 0 -1rem;
}

.panel {
    width: 800px;
    margin: 6rem 0 0 15rem;
    background: #DFDFDF;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.26);
}

.text_panel {
    margin: 10rem 0 0 0;
}

.tiro_panel {
    font-size: 3rem;
}

h2.catego {
    font-size: 3rem;
    margin: 4rem 0 0 0;

}

.cards {
    padding: 5% 0 0 0;
}

.cards-img {
    width: 20.313rem;
    height: 26.24rem;
    opacity: .7;
}

.body-cards {
    z-index: 2;
    position: relative;
    bottom: 48%;
    padding: 2%;
    font-size: 2rem;
    color: aliceblue;
    background-color: rgba(128, 128, 128, 0.918);
    text-decoration-line: none;
}
.info1,.info2
{
    position: relative;
}
.img_info {
    width: 82rem;
    height: 45rem;
    margin: 0 0 3rem 0;
}

.txt_info {
    left: 40%;
    z-index: 2;
    position: absolute;
    bottom: 45%;
    width: 40%;
}
 h2.h_info2
 {
    font-size: 2.3rem;
    font-weight: bold;
 }
.img_info2
{
    width: 35rem;
    height: 50rem;
    margin: 0 0 3rem 0;
}
.txt_info2
{
    left: 25%;
    width: 40%;
    bottom: 60%;
    z-index: 2;
    position: absolute;
}
.btn_info2
{
    left: 32%;
    position: absolute;
}

.imgTxtDon
{
    width: 100%;
    border-radius: 2%;
}
.don_info
{
    width: 60%;
    height: 30%;
    padding: 3rem;
    margin-top: 3rem;
    background-color: rgba(156,189,210,60%);    
}
.footer
{
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%;
    background: #dcdcdc9a;
    margin-top: 4rem;
}
.footer_row
{
    margin: 2rem 0 0 0;
}
ul{
    list-style-type: none;
  }

.fira {
    font-family: 'Fira Sans', sans-serif;
}

.tiro {
    font-family: 'Tiro Kannada', serif;
}

.rosario {
    font-family: 'Rosario', sans-serif;
}

/* CSS PARA PAGINA "NOSOTROS" */
.nos_h1
{
    font-weight: bold;
}
.nos_h4
{
    font-weight: bold;
}

.nos_bg
{
    background-image: url("../img/pexels-dominika-roseclay-1877920.png");
    background-repeat: no-repeat;
    background-size: 40rem 60rem;
}
.nos_info
{
    width: 40%;
    padding: 3rem;
    margin-top: 3rem;
    background-color: rgba(156,189,210,60%);    
}
/* FIN DE CSS */

@media (max-width: 992px) {

    .index_sesion {
        visibility: hidden;
        display: none;
    }

    .nav-iniSesion {
        visibility: visible;
        display: block;
    }

    .text_panel {
        margin: 5rem 0 0 0;
    }

    .img_panel {
        width: 210px;
        height: 330px;
        margin: 0 0 0 0;
    }

    .panel {
        width: 500px;
        margin: 6rem 0 0 15rem;
        background: #DFDFDF;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.26);
        -webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.26);
    }


}

@media (max-width: 768px) {

    .index_sesion {
        visibility: hidden;
        display: none;
    }

    .nav-iniSesion {
        visibility: visible;
        display: block;
    }

}

@media (max-width: 576px) {

    .index_sesion {
        visibility: hidden;
        display: none;
    }

    .nav-iniSesion {
        visibility: visible;
        display: block;
    }

}